.dark-medium-contrast {
  --color-primary: rgb(152 209 251);
  --color-surface-tint: rgb(148 205 247);
  --color-on-primary: rgb(0 24 39);
  --color-primary-container: rgb(93 151 190);
  --color-on-primary-container: rgb(0 0 0);
  --color-secondary: rgb(187 205 221);
  --color-on-secondary: rgb(6 24 35);
  --color-secondary-container: rgb(129 147 162);
  --color-on-secondary-container: rgb(0 0 0);
  --color-tertiary: rgb(210 196 237);
  --color-on-tertiary: rgb(26 17 47);
  --color-tertiary-container: rgb(151 139 176);
  --color-on-tertiary-container: rgb(0 0 0);
  --color-error: rgb(255 186 177);
  --color-on-error: rgb(55 0 1);
  --color-error-container: rgb(255 84 73);
  --color-on-error-container: rgb(0 0 0);
  --color-background: rgb(16 20 23);
  --color-on-background: rgb(223 227 232);
  --color-surface: rgb(16 20 23);
  --color-on-surface: rgb(249 251 255);
  --color-surface-variant: rgb(65 71 77);
  --color-on-surface-variant: rgb(197 203 210);
  --color-outline: rgb(157 164 170);
  --color-outline-variant: rgb(125 132 138);
  --color-shadow: rgb(0 0 0);
  --color-scrim: rgb(0 0 0);
  --color-inverse-surface: rgb(223 227 232);
  --color-inverse-on-surface: rgb(38 42 46);
  --color-inverse-primary: rgb(0 77 111);
  --color-primary-fixed: rgb(200 230 255);
  --color-on-primary-fixed: rgb(0 19 31);
  --color-primary-fixed-dim: rgb(148 205 247);
  --color-on-primary-fixed-variant: rgb(0 58 85);
  --color-secondary-fixed: rgb(211 229 245);
  --color-on-secondary-fixed: rgb(2 19 30);
  --color-secondary-fixed-dim: rgb(183 201 217);
  --color-on-secondary-fixed-variant: rgb(39 56 69);
  --color-tertiary-fixed: rgb(233 221 255);
  --color-on-tertiary-fixed: rgb(21 11 42);
  --color-tertiary-fixed-dim: rgb(206 192 232);
  --color-on-tertiary-fixed-variant: rgb(58 49 81);
  --color-surface-dim: rgb(16 20 23);
  --color-surface-bright: rgb(53 58 62);
  --color-surface-container-lowest: rgb(10 15 18);
  --color-surface-container-low: rgb(24 28 32);
  --color-surface-container: rgb(28 32 36);
  --color-surface-container-high: rgb(38 42 46);
  --color-surface-container-highest: rgb(49 53 57);
  --color-variation1-color: rgb(255 189 140);
  --color-variation1-on-color: rgb(40 16 0);
  --color-variation1-color-container: rgb(197 129 77);
  --color-variation1-on-color-container: rgb(0 0 0);
  --color-variation2-color: rgb(168 215 154);
  --color-variation2-on-color: rgb(0 28 0);
  --color-variation2-color-container: rgb(112 156 101);
  --color-variation2-on-color-container: rgb(0 0 0);
}
