.light-high-contrast {
  --color-primary: rgb(0 37 56);
  --color-surface-tint: rgb(36 100 136);
  --color-on-primary: rgb(255 255 255);
  --color-primary-container: rgb(0 71 104);
  --color-on-primary-container: rgb(255 255 255);
  --color-secondary: rgb(19 36 48);
  --color-on-secondary: rgb(255 255 255);
  --color-secondary-container: rgb(52 69 82);
  --color-on-secondary-container: rgb(255 255 255);
  --color-tertiary: rgb(38 29 60);
  --color-on-tertiary: rgb(255 255 255);
  --color-tertiary-container: rgb(71 61 95);
  --color-on-tertiary-container: rgb(255 255 255);
  --color-error: rgb(78 0 2);
  --color-on-error: rgb(255 255 255);
  --color-error-container: rgb(140 0 9);
  --color-on-error-container: rgb(255 255 255);
  --color-background: rgb(246 249 254);
  --color-on-background: rgb(24 28 32);
  --color-surface: rgb(246 249 254);
  --color-on-surface: rgb(0 0 0);
  --color-surface-variant: rgb(221 227 234);
  --color-on-surface-variant: rgb(30 37 42);
  --color-outline: rgb(61 68 73);
  --color-outline-variant: rgb(61 68 73);
  --color-shadow: rgb(0 0 0);
  --color-scrim: rgb(0 0 0);
  --color-inverse-surface: rgb(45 49 53);
  --color-inverse-on-surface: rgb(255 255 255);
  --color-inverse-primary: rgb(220 238 255);
  --color-primary-fixed: rgb(0 71 104);
  --color-on-primary-fixed: rgb(255 255 255);
  --color-primary-fixed-dim: rgb(0 48 72);
  --color-on-primary-fixed-variant: rgb(255 255 255);
  --color-secondary-fixed: rgb(52 69 82);
  --color-on-secondary-fixed: rgb(255 255 255);
  --color-secondary-fixed-dim: rgb(30 47 59);
  --color-on-secondary-fixed-variant: rgb(255 255 255);
  --color-tertiary-fixed: rgb(71 61 95);
  --color-on-tertiary-fixed: rgb(255 255 255);
  --color-tertiary-fixed-dim: rgb(49 39 71);
  --color-on-tertiary-fixed-variant: rgb(255 255 255);
  --color-surface-dim: rgb(215 218 223);
  --color-surface-bright: rgb(246 249 254);
  --color-surface-container-lowest: rgb(255 255 255);
  --color-surface-container-low: rgb(241 244 249);
  --color-surface-container: rgb(235 238 243);
  --color-surface-container-high: rgb(229 232 237);
  --color-surface-container-highest: rgb(223 227 232);
  --color-variation1-color: rgb(57 26 0);
  --color-variation1-on-color: rgb(255 255 255);
  --color-variation1-color-container: rgb(104 54 6);
  --color-variation1-on-color-container: rgb(255 255 255);
  --color-variation2-color: rgb(0 41 1);
  --color-variation2-on-color: rgb(255 255 255);
  --color-variation2-color-container: rgb(35 76 29);
  --color-variation2-on-color-container: rgb(255 255 255);
}
