.light-medium-contrast {
  --color-primary: rgb(0 71 104);
  --color-surface-tint: rgb(36 100 136);
  --color-on-primary: rgb(255 255 255);
  --color-primary-container: rgb(63 122 160);
  --color-on-primary-container: rgb(255 255 255);
  --color-secondary: rgb(52 69 82);
  --color-on-secondary: rgb(255 255 255);
  --color-secondary-container: rgb(101 119 133);
  --color-on-secondary-container: rgb(255 255 255);
  --color-tertiary: rgb(71 61 95);
  --color-on-tertiary: rgb(255 255 255);
  --color-tertiary-container: rgb(122 111 147);
  --color-on-tertiary-container: rgb(255 255 255);
  --color-error: rgb(140 0 9);
  --color-on-error: rgb(255 255 255);
  --color-error-container: rgb(218 52 46);
  --color-on-error-container: rgb(255 255 255);
  --color-background: rgb(246 249 254);
  --color-on-background: rgb(24 28 32);
  --color-surface: rgb(246 249 254);
  --color-on-surface: rgb(24 28 32);
  --color-surface-variant: rgb(221 227 234);
  --color-on-surface-variant: rgb(61 68 73);
  --color-outline: rgb(89 96 102);
  --color-outline-variant: rgb(117 123 130);
  --color-shadow: rgb(0 0 0);
  --color-scrim: rgb(0 0 0);
  --color-inverse-surface: rgb(45 49 53);
  --color-inverse-on-surface: rgb(238 241 246);
  --color-inverse-primary: rgb(148 205 247);
  --color-primary-fixed: rgb(63 122 160);
  --color-on-primary-fixed: rgb(255 255 255);
  --color-primary-fixed-dim: rgb(33 97 134);
  --color-on-primary-fixed-variant: rgb(255 255 255);
  --color-secondary-fixed: rgb(101 119 133);
  --color-on-secondary-fixed: rgb(255 255 255);
  --color-secondary-fixed-dim: rgb(77 94 108);
  --color-on-secondary-fixed-variant: rgb(255 255 255);
  --color-tertiary-fixed: rgb(122 111 147);
  --color-on-tertiary-fixed: rgb(255 255 255);
  --color-tertiary-fixed-dim: rgb(97 86 121);
  --color-on-tertiary-fixed-variant: rgb(255 255 255);
  --color-surface-dim: rgb(215 218 223);
  --color-surface-bright: rgb(246 249 254);
  --color-surface-container-lowest: rgb(255 255 255);
  --color-surface-container-low: rgb(241 244 249);
  --color-surface-container: rgb(235 238 243);
  --color-surface-container-high: rgb(229 232 237);
  --color-surface-container-highest: rgb(223 227 232);
  --color-variation1-color: rgb(104 54 6);
  --color-variation1-on-color: rgb(255 255 255);
  --color-variation1-color-container: rgb(164 102 52);
  --color-variation1-on-color-container: rgb(255 255 255);
  --color-variation2-color: rgb(35 76 29);
  --color-variation2-on-color: rgb(255 255 255);
  --color-variation2-color-container: rgb(84 127 75);
  --color-variation2-on-color-container: rgb(255 255 255);
}
