.light {
  --color-primary: rgb(36 100 136);
  --color-surface-tint: rgb(36 100 136);
  --color-on-primary: rgb(255 255 255);
  --color-primary-container: rgb(200 230 255);
  --color-on-primary-container: rgb(0 30 47);
  --color-secondary: rgb(79 96 110);
  --color-on-secondary: rgb(255 255 255);
  --color-secondary-container: rgb(211 229 245);
  --color-on-secondary-container: rgb(11 29 41);
  --color-tertiary: rgb(100 89 124);
  --color-on-tertiary: rgb(255 255 255);
  --color-tertiary-container: rgb(233 221 255);
  --color-on-tertiary-container: rgb(31 22 53);
  --color-error: rgb(186 26 26);
  --color-on-error: rgb(255 255 255);
  --color-error-container: rgb(255 218 214);
  --color-on-error-container: rgb(65 0 2);
  --color-background: rgb(246 249 254);
  --color-on-background: rgb(24 28 32);
  --color-surface: rgb(246 249 254);
  --color-on-surface: rgb(24 28 32);
  --color-surface-variant: rgb(221 227 234);
  --color-on-surface-variant: rgb(65 71 77);
  --color-outline: rgb(113 120 126);
  --color-outline-variant: rgb(193 199 206);
  --color-shadow: rgb(0 0 0);
  --color-scrim: rgb(0 0 0);
  --color-inverse-surface: rgb(45 49 53);
  --color-inverse-on-surface: rgb(238 241 246);
  --color-inverse-primary: rgb(148 205 247);
  --color-primary-fixed: rgb(200 230 255);
  --color-on-primary-fixed: rgb(0 30 47);
  --color-primary-fixed-dim: rgb(148 205 247);
  --color-on-primary-fixed-variant: rgb(0 76 110);
  --color-secondary-fixed: rgb(211 229 245);
  --color-on-secondary-fixed: rgb(11 29 41);
  --color-secondary-fixed-dim: rgb(183 201 217);
  --color-on-secondary-fixed-variant: rgb(56 73 86);
  --color-tertiary-fixed: rgb(233 221 255);
  --color-on-tertiary-fixed: rgb(31 22 53);
  --color-tertiary-fixed-dim: rgb(206 192 232);
  --color-on-tertiary-fixed-variant: rgb(75 65 99);
  --color-surface-dim: rgb(215 218 223);
  --color-surface-bright: rgb(246 249 254);
  --color-surface-container-lowest: rgb(255 255 255);
  --color-surface-container-low: rgb(241 244 249);
  --color-surface-container: rgb(235 238 243);
  --color-surface-container-high: rgb(229 232 237);
  --color-surface-container-highest: rgb(223 227 232);
  --color-variation1-color: rgb(137 80 32);
  --color-variation1-on-color: rgb(255 255 255);
  --color-variation1-color-container: rgb(255 220 196);
  --color-variation1-on-color-container: rgb(48 20 0);
  --color-variation2-color: rgb(63 104 54);
  --color-variation2-on-color: rgb(255 255 255);
  --color-variation2-color-container: rgb(191 239 177);
  --color-variation2-on-color-container: rgb(0 34 1);
}
