extends ../layout

block scripts
  script(src="/js/auth/register.js", type="module")

block content
  .auth-container
    .auth-card
      h1.text-center.mt-md Create Account
      form#register-form(action="/auth/register", method="POST")
        .form-group
          label(for="first-name") First Name
          input#first-name(type="text", name="first-name", required)
          label(for="last-name") Last Name
          input#last-name(type="text", name="last-name", required)
        .form-group
          label(for="username") Username
          input#username(type="text", name="username", required)
        .form-group
          label(for="password") Password
          input#password(type="password", name="password", required)
        button.button(type="submit") Register
      div
        span Already have an account?
        a(href=`/auth/login?next=${encodeURIComponent(originalUrl)}`) Login
