doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Welcome
        link(href="/public/css/styles.css" rel="stylesheet")
    include components/navbar.pug
    body
        h1 Project starter
        p Hello, there!
        script(src="/public/js/main.js" type="module")
