head
  script(src="/js/auth/logout.js", type="module")

nav
  .navbar
    .logo
      span LOGO Episkos
    .nav-links
      a(href="/") Home
      a(href="/posts") Posts
      if session.user === undefined
        a.button.call-to-action(
          href=`/auth/register?next=${encodeURIComponent(originalUrl)}`
        ) Get Started
      else
        a(href=`/profile/${session.user.username}`)= session.user.username
        button.button(onclick="logout()type=\"submit\"") Logout
