head
    script(src="/js/navbar.js" type="module")
    link(href="/css/navbar.css" rel="stylesheet")

nav
    .left
        span Logo
        a(href="/") Home
        a(href="/") Page2
        a(href="/") Page3
        a(href="/") Page4
    .right
        if !session.loggedIn
            a(href="/auth/login") Login
            a(href="/auth/register").call-to-action Register
        else
            a= session.user.username
            a(href="/")#logout-link Logout

