head
    script(src="/js/navbar.js" type="module")
    link(href="/css/navbar.css" rel="stylesheet")

nav
    .left
        a(href="/") Home
    .right
        if !session.loggedIn
            a(href="/auth/register") Register
            a(href="/auth/login") Login
        else
            a= session.user.username
            a(href="/auth/todo") Logout

