/* Standard-Stile für mobile Geräte */
@media (max-width: 600px) {
    body {
        font-size: 16px;
    }

    main {
        padding-top: 20%;
        padding-left: 4rem;
        max-width: 100vw;
    }

    section {
        padding: 10px;
    }

    footer {
        z-index: 4;
    }

    img {
        padding-top: 6%;
        max-width: 100%;
        min-width: 15rem;
        width: 100vw;
    }

    .definitions {

        max-width: 100%;
    }

    .innercontainer section {
        min-width: 50%;
        max-width: 100%;
        flex: 1;
    }
}



/* Breakpoint für Tablets */
@media (min-width: 600px) {
    body {
        font-size: 18px; /* Größere Schriftgröße für Tablets */
    }

    main {
        padding-top: 6rem;
        padding-left: 5rem;
        max-width: 100vw;
    }
    
    section {
        padding: 10px;
    }
    
    footer {
        z-index: 4;
    }
    
    img {
        padding-top: 10%;
        max-width: 100%;
        min-width: 20vmax;
        width: 100vw;
    }

    .definitions {

        max-width: 30%;
    }

    .innercontainer section {
        min-width: 40%;
        max-width: 70%;
        flex: 1;
    }
}



/* Breakpoint für Desktops */
@media (min-width: 900px) {
    body {
        font-size: 20px; /* Noch größere Schriftgröße für Desktops */
    }

    main {
        padding-top: 10%;
        padding-left: 5rem;
        /*max-width: 100vw;*/
    }
    
    section {
        padding: 10px;
    }
    
    footer {
        z-index: 4;
    }
    
    img {
        padding-top: 6%;
        max-width: 100%;
        min-width: 20vmax;
        width: 100vw;
    }

    .definitions {

        max-width: 30%;
    }

    .innercontainer section {
        min-width: 40%;
        max-width: 70%;
        flex: 1;
    }
}



/* Breakpoint für große Bildschirme */
@media (min-width: 1200px) {
    body {
        font-size: 22px; /* Größte Schriftgröße für große Bildschirme */
    }

    main {
        padding-top: 6%;
        padding-left: 8%;
        max-width: 100vw;
    }
    
    section {
        padding: 10px;
    }
    
    footer {
        z-index: 4;
    }
    
    img {
        padding-top: 5%;
        max-width: 100%;
        min-width: 20vmax;
        width: 100vw;
    }

    .definitions {

        max-width: 20%;
    }

    .innercontainer section {
        min-width: 30%;
        max-width: 70%;
        flex: 1;
    }
}
