nav {
  display: flex;
  justify-content: space-between;
}

nav a {
  padding: 0 10px;
  text-decoration: none;
  color: var(--color-secondary);
}

nav .right,
nav .left {
  padding: 25px 25px;
}

.call-to-action {
  background-color: var(--color-primary);
  color: var(--color-on-primary);
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
}
